.env
.env.*
!.env.*.encrypted
*.log
*.swp
webpack-assets.json
node_modules
.next/
coverage/
dist/
tsconfig.tsbuildinfo
public/js/
public/css/
public/assets/
google_key.json
tags
.DS_Store
.envrc
.tool-versions
.vscode/settings.json
