.card {
  width: 22rem;
  height: 15rem;
  background-color: var(--card-bg);
  border: var(--card-border);
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 1rem;
}

@media (max-width: 500px) {
  .card {
    width: 100%;
    margin: 1rem 0;
  }
}
