.card {
  width: 22rem;
  height: 15rem;
  background-color: var(--card-bg);
  border: var(--card-border);
  border-radius: 0.5rem;
  margin: var(--spacing-default);
  padding: var(--spacing-default);
}

@media (max-width: 500px) {
  .card {
    width: 100%;
  }
}
