.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.875rem;
  height: 1.875rem;
  background: var(--accent);
  border: none;
  border-radius: 1rem;
  font-size: 1.6rem;
  transition: text 1s ease-in-out;
  cursor: pointer;
}

[data-theme='light'] {
  .sun {
    display: none;
  }
  .moon {
    display: block;
  }
}

[data-theme='dark'] {
  .moon {
    display: none;
  }
  .sun {
    display: block;
  }
}
